@media (max-width:400px) {
    h2{
        font-size: 20px !important;
    }
    #status {
        width: 100% !important;
        /* height: 300px; */
        display: flex;
        justify-content: center;
        padding: 10px 0px;
        /* margin-top: 20px; */
        margin: auto;
        font-family: sans-serif;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }
    header {
        display: flex;
        flex-wrap: nowrap !important;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        padding: 6px 0px;
        text-align: center;
        box-shadow: rgba(0, 0, 2, 0.4) 0px 2px 4px, rgba(50, 21, 240, 0.3) 0px 7px 13px -3px, rgba(25, 15, 213, 0.384) 0px -3px 0px inset;
        flex-direction: row;
    }
    h1{
        font-size: 0.9rem;
        margin-bottom: 0;
    }
    img{
        width: 50px !important;
    }
    *{
        text-align: center;
    }
    .currCard{
        margin-bottom: 20px;
    }
    .eventtitle{
        margin: 0;
    }
    .eveTitle{
        margin-bottom: 0;
    }
    .nextCard{
        margin-bottom: 20px;
    }
    #clgL{
        margin-left: 5px;
        width: 35px;
        margin-right: 5px;
    }
    header p {
        margin: 0;
        font-size: 0.7rem;
    }
    header{
        padding-bottom: 10px !important;
    }
    #sih{
        margin-right: 8px;
    }
    .queue {
        width: 100%;
    background-color: #240046;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    overflow: scroll;
    align-items: center;
    justify-content: flex-start !important;
    flex-direction: row;
    }
    iframe{
        width: 400px;
    }
    .queue::-webkit-scrollbar{
        display: none;
    }
    #Qtit{
        margin-left: 15px;
    }
    p{
        max-width: 100%;
    }
    
    #iic{
        font-size: 0.7rem;
        margin: 0 !important;
    }
    #cord{
        font-size: 0.7rem;
        text-align: left;
        margin: 0 !important;
    }
    .currCard, .nextCard {
        width: 230px !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        padding: 5px;
    }
    .queTeam {
        display: inline-block;
        height: auto !important;
        background-color: #efefef;
        color: #240046;
        margin-left: 30px;
        padding: 0px 10px;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
}

@media (max-width:700px) {
    #status {
        width: 100% !important;
        /* height: 300px; */
        display: flex;
        justify-content: center;
        padding: 10px 0px;
        /* margin-top: 20px; */
        margin: auto;
        font-family: sans-serif;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        overflow: hidden;
    }
    header {
        display: flex;
        flex-wrap: nowrap !important;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        padding: 6px 0px;
        text-align: center;
        box-shadow: rgba(0, 0, 2, 0.4) 0px 2px 4px, rgba(50, 21, 240, 0.3) 0px 7px 13px -3px, rgba(25, 15, 213, 0.384) 0px -3px 0px inset;
        flex-direction: row;
    }
    h1{
        font-size: 0.9rem;
        margin-bottom: 0;
    }
    img{
        width: 50px !important;
    }
    *{
        text-align: center;
    }
    .currCard{
        margin-bottom: 20px;
    }
    .eventtitle{
        margin: 0;
    }
    .eveTitle{
        margin-bottom: 0;
    }
    .nextCard{
        margin-bottom: 20px;
    }
    h2,.statusHead{
        font-size: 0.5rem;
    }
    #clgL{
        margin-left: 5px;
        width: 35px;
        margin-right: 5px;
    }
    header p {
        margin: 0;
        font-size: 0.7rem;
    }
    header{
        padding-bottom: 10px !important;
    }
    #sih{
        margin-right: 8px;
    }
    .queue {
        width: 100%;
    background-color: #240046;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    overflow: scroll;
    align-items: center;
    justify-content: flex-start !important;
    flex-direction: row;
    }
    iframe{
        width: 400px;
    }
    .queue::-webkit-scrollbar{
        display: none;
    }
    #Qtit{
        margin-left: 15px;
    }
}

